.reveal h1 {
  font-size: 3.1em;
}

.reveal h2 {
  font-size: 2.0em;
}

.reveal h3 {
  font-size: 1.3em;
  text-transform: none;
}

.reveal blockquote {
  box-shadow: none;
  border-left: 5px solid blue;
}

.reveal .bank_cd {
  position: absolute; right: -120px; top: 77px; background: #ccc; width: 150px
}

.reveal .slides > section, .reveal .slides > section > section {
  padding: 0 0;
}

.reveal pre {
  width: 110%;
}

#mini-deps-image {
  background: #a9a9a9a6; padding: 10px; width: 200px;  position: absolute; left: 890px; top: 0px
}

#mini-deps-arrow {
  width: 20px;
  position: absolute;
}

.reveal img.borderless {
  border: none;
  box-shadow: none;
  background: none
}

.reveal section[data-background] h1, .reveal section[data-background] h2, .reveal  section[data-background] h3 {
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}
.reveal section[data-background] ul, .reveal section[data-background] p {
  color: white;
}

.reveal p.handles{
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

